/* css styles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 30px;
  outline: ;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: inherit;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: #e9945b;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: #e9945b;
}

@font-face {
  font-family:"GeometrySoftPro";
  src: url("pages/fonts/GeometrySoftPro.otf")
}
